<% include ./partials/header %>


<div class="ui main container segment">
	<div class="ui huge header"><%= blog.title %></div>
		<img src="<%= blog.image %>">
		<span> <%= blog.create %></span>
		<p><%= blog.body %></p>


</div> 

<% include ./partials/footer %>