<h1>This is the secret page</h1>


<p>You found me</p>

<img src="https://pbs.twimg.com/profile_images/821849411991044096/lQFa_Vly_400x400.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Log Out</a></li>